In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.Series()

Series([], dtype: object)

In [3]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
pd.Series(data=[1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]
pd.Series(ice_cream_flavors)
pd.Series(data=ice_cream_flavors) # same as above statement

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [9]:
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]
days_of_week = ["Monday", "Wednesday", "Friday", "Saturday"]
pd.Series(ice_cream_flavors, days_of_week)
pd.Series(data=ice_cream_flavors, index=days_of_week) # same as above statement

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [10]:
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]
days_of_week = ["Monday", "Wednesday", "Friday", "Wednesday"]
pd.Series(ice_cream_flavors, days_of_week)
pd.Series(data=ice_cream_flavors, index=days_of_week) # same as above statement

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [11]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [12]:
stock_prices = [123.45, 140.20]
time_of_day = ["Open", "Close"]
pd.Series(stock_prices, time_of_day)
pd.Series(data=stock_prices, index=time_of_day) # same as above statement

Open     123.45
Close    140.20
dtype: float64

In [13]:
random_numbers = [10, 18, 24, 36, 38, 40, 51]
pd.Series(random_numbers)

0    10
1    18
2    24
3    36
4    38
5    40
6    51
dtype: int64

In [14]:
random_numbers = [10, 18, 24, 36, 38, 40, 51]
pd.Series(random_numbers, dtype=np.float64)

0    10.0
1    18.0
2    24.0
3    36.0
4    38.0
5    40.0
6    51.0
dtype: float64

In [15]:
temperatures = [30.5, 32.0, np.nan, 31.2]
pd.Series(temperatures)
pd.Series(data=temperatures, dtype=np.float64)

0    30.5
1    32.0
2     NaN
3    31.2
dtype: float64

In [16]:
food_items = {
    "biryani": 1000,
    "pizza": 800,
    "burger": 500,
    "pasta": 600,
}
pd.Series(food_items)

biryani    1000
pizza       800
burger      500
pasta       600
dtype: int64

In [18]:
calories = {
    "biryani": 1000,
    "pizza": 800,
    "burger": 500,
    "pasta": 600,
}
diet = pd.Series(calories)
diet

biryani    1000
pizza       800
burger      500
pasta       600
dtype: int64

In [19]:
diet.values

array([1000,  800,  500,  600])

In [20]:
diet.index

Index(['biryani', 'pizza', 'burger', 'pasta'], dtype='object')

In [21]:
diet.size

4

In [22]:
diet.shape

(4,)

In [23]:
diet.dtype

dtype('int64')

In [24]:
diet.is_unique

True