In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.Series()

Series([], dtype: object)

In [4]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
pd.Series(data=[1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]
pd.Series(ice_cream_flavors)
pd.Series(data=ice_cream_flavors) # same as above statement

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [7]:
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]
days_of_week = ["Monday", "Wednesday", "Friday", "Saturday"]
pd.Series(ice_cream_flavors, days_of_week)
pd.Series(data=ice_cream_flavors, index=days_of_week) # same as above statement

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [8]:
ice_cream_flavors = [
    "Chocolate",
    "Vanilla",
    "Strawberry",
    "Rum Raisin",
]
days_of_week = ["Monday", "Wednesday", "Friday", "Wednesday"]
pd.Series(ice_cream_flavors, days_of_week)
pd.Series(data=ice_cream_flavors, index=days_of_week) # same as above statement

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [9]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [10]:
stock_prices = [123.45, 140.20]
time_of_day = ["Open", "Close"]
pd.Series(stock_prices, time_of_day)
pd.Series(data=stock_prices, index=time_of_day) # same as above statement

Open     123.45
Close    140.20
dtype: float64

In [11]:
random_numbers = [10, 18, 24, 36, 38, 40, 51]
pd.Series(random_numbers)

0    10
1    18
2    24
3    36
4    38
5    40
6    51
dtype: int64

In [12]:
random_numbers = [10, 18, 24, 36, 38, 40, 51]
pd.Series(random_numbers, dtype=np.float64)

0    10.0
1    18.0
2    24.0
3    36.0
4    38.0
5    40.0
6    51.0
dtype: float64

In [13]:
temperatures = [30.5, 32.0, np.nan, 31.2]
pd.Series(temperatures)
pd.Series(data=temperatures, dtype=np.float64)

0    30.5
1    32.0
2     NaN
3    31.2
dtype: float64

In [14]:
food_items = {
    "biryani": 1000,
    "pizza": 800,
    "burger": 500,
    "pasta": 600,
}
pd.Series(food_items)

biryani    1000
pizza       800
burger      500
pasta       600
dtype: int64

In [15]:
calories = {
    "biryani": 1000,
    "pizza": 800,
    "burger": 500,
    "pasta": 600,
}
diet = pd.Series(calories)
diet

biryani    1000
pizza       800
burger      500
pasta       600
dtype: int64

In [16]:
diet.values

array([1000,  800,  500,  600])

In [17]:
diet.index

Index(['biryani', 'pizza', 'burger', 'pasta'], dtype='object')

In [18]:
diet.size

4

In [19]:
diet.shape

(4,)

In [20]:
diet.dtype

dtype('int64')

In [21]:
diet.is_unique

True

In [22]:
s1 = pd.Series([1, 2, 3, 3, 4])
s1.is_unique

False

In [25]:
s2 = pd.Series([1, 2, 3, 4])
s2.is_monotonic_increasing
s2.is_monotonic_decreasing

False

In [26]:
s3 = pd.Series([4, 3, 2, 1, 10, 25])
s3.head()

0     4
1     3
2     2
3     1
4    10
dtype: int64

In [27]:
s3.tail(n=3)

3     1
4    10
5    25
dtype: int64

### Statistical operations

In [28]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])

In [30]:
print(numbers.count())

5

In [31]:
numbers.sum()

np.float64(15.0)

In [32]:
numbers.sum(skipna=False)

np.float64(nan)

In [33]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [34]:
numbers.sum(min_count=3)

np.float64(15.0)

In [35]:
numbers.sum(min_count=6)

np.float64(nan)

In [36]:
numbers.product()

np.float64(120.0)

In [38]:
numbers.product(skipna=False)

np.float64(nan)

In [39]:
numbers.product(min_count=3)

np.float64(120.0)

In [40]:
numbers.product(min_count=6)

np.float64(nan)

In [41]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [42]:
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [43]:
numbers.cumsum(skipna=False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [44]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [45]:
numbers.pct_change()

C:\Users\singa\AppData\Local\Temp\ipykernel_25556\527026991.py:1: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [46]:
numbers.pct_change(fill_method='ffill')

C:\Users\singa\AppData\Local\Temp\ipykernel_25556\3313576541.py:1: FutureWarning: The 'fill_method' keyword being not None and the 'limit' keyword in Series.pct_change are deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change(fill_method='ffill')

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [47]:
[1, 2, 3, np.nan, 4, 5]
[1, 2, 3, 3, 4, 5]
[1, np.nan, np.nan, np.nan, 4, 4]
[1, 1, 1, 1, 4, 4] # ffill
[1, 4, 4, 4, 4, 4] # bfill

[1, 4, 4, 4, 4, 4]

In [48]:
numbers.pct_change(fill_method='bfill')

C:\Users\singa\AppData\Local\Temp\ipykernel_25556\629865841.py:1: FutureWarning: The 'fill_method' keyword being not None and the 'limit' keyword in Series.pct_change are deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change(fill_method='bfill')

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.000000
5    0.250000
dtype: float64

In [49]:
numbers.mean()

np.float64(3.0)

In [50]:
numbers.median()

np.float64(3.0)

In [51]:
numbers.max()

np.float64(5.0)

In [52]:
numbers.min()

np.float64(1.0)

In [53]:
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [54]:
numbers.std()

np.float64(1.5811388300841898)

In [55]:
fruits = pd.Series(['apple', 'orange', 'kiwi'])

In [56]:
fruits.min()

'apple'

In [57]:
fruits.max()

'orange'

In [58]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [59]:
numbers.sample(2)

3    NaN
2    3.0
dtype: float64

In [60]:
numbers.sample(3)

5    5.0
0    1.0
3    NaN
dtype: float64

In [62]:
cities = pd.Series(['hyd', 'amr', 'del', 'mum', 'che', 'amr', 'hyd'])
cities

0    hyd
1    amr
2    del
3    mum
4    che
5    amr
6    hyd
dtype: object

In [63]:
cities.unique()

array(['hyd', 'amr', 'del', 'mum', 'che'], dtype=object)

In [64]:
cities.nunique()

5

### Arithmetic Operations

In [65]:
s1 = pd.Series([5, np.nan, 10], index=["A", "B", "C"])
s1

A     5.0
B     NaN
C    10.0
dtype: float64

In [66]:
s1 + 3

A     8.0
B     NaN
C    13.0
dtype: float64

In [67]:
s1 - 5

A    0.0
B    NaN
C    5.0
dtype: float64

In [68]:
s1 * 4

A    20.0
B     NaN
C    40.0
dtype: float64

In [ ]:
print(s1+3)
print(s1-3)
print(s1*4)
print(s1%3)
print(s1//7)

In [ ]:
s1.add(3)
s1.sub(5)
s1.mul(4)
s1.divide(7)
s1.floord(3)
s1.mod(4)

#### Broadcasting Series

In [69]:
s1 = pd.Series([1, 2, 3], ['A', 'B', 'C'])
s2 = pd.Series([4, 5, 5], ['A', 'B', 'C'])

In [70]:
s1 + s2

A    5
B    7
C    8
dtype: int64

In [71]:
s1 == s2

A    False
B    False
C    False
dtype: bool

In [72]:
s1.eq(s2)

A    False
B    False
C    False
dtype: bool

In [73]:
s1

A    1
B    2
C    3
dtype: int64

In [74]:
dir(s1)

['A',
 'B',
 'C',
 'T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__column_consortium_standard__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pandas_priority__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_for_op',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_expanddim_from_mgr',
 '_constructor_from_mgr',
 '_data',
 '_deprecate_downcast',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_flex_method',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_rows_with_mask',
 '_get_value',
 '_get_values_tuple',
 '_get_with',
 '_getitem_slice',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_is_view_after_cow_rules',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_pad_or_backfill',
 '_protect_consolidate',
 '_reduce',
 '_references',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_shift_with_freq',
 '_slice',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'case_when',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'list',
 'loc',
 'lt',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'struct',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [75]:
cities

0    hyd
1    amr
2    del
3    mum
4    che
5    amr
6    hyd
dtype: object

In [77]:
'hyd' in cities

False

In [78]:
'hyd' in list(cities)

True

### Applying Functions

In [ ]:
s = pd.Series([10, 20, 30, 40, 50])
func = [len, sum, min, max]