## 4.1 Overview of a DataFrame

In [ ]:
import pandas as pd
import numpy as np

### 4.1.1 Creating DataFrame from Dictionary

In [ ]:
city_data = {
    "City": ["New York City", "Paris", "Barcelona", "Rome"],
    "Country": ["United States", "France", "Spain", "Italy"],
    "Population": pd.Series([8600000, 2141000, 5515000, 2873000])
}

cities = pd.DataFrame(city_data)
cities

In [ ]:
# The two lines below are equivalent
cities.transpose()
cities.T

### 4.1.2 Creating a DataFrame from a NumPy ndarray

In [ ]:
random_data = np.random.randint(1, 101, [3, 5])
random_data

In [ ]:
pd.DataFrame(data = random_data)

In [ ]:
row_labels = ["Morning", "Afternoon", "Evening"]
temperatures = pd.DataFrame(
    data = random_data, index = row_labels
)
temperatures

In [ ]:
row_labels = ["Morning", "Afternoon", "Evening"]
column_labels = (
    "Monday",
    "Tuesday",
    "Wednesday",
    "Thursday",
    "Friday"
)

pd.DataFrame(
    data = random_data,
    index = row_labels,
    columns = column_labels,
)

In [ ]:
row_labels = ["Morning", "Afternoon", "Morning"]
column_lables = [
    "Monday",
    "Tuesday",
    "Wednesday",
    "Tuesday",
    "Friday"
]

pd.DataFrame(
    data = random_data,
    index = row_labels,
    columns = column_labels,
)

## 4.2 Similarities between Series and DataFrames

### 4.2.1 Importing a DataFrame with the read_csv Function

In [ ]:
pd.read_csv("nba.csv")

In [ ]:
pd.read_csv("nba.csv", parse_dates = ["Birthday"])

In [ ]:
nba = pd.read_csv("nba.csv", parse_dates = ["Birthday"])

### 4.2.2 Shared and Exclusive Attributes between Series and DataFrames

In [ ]:
pd.Series([1, 2, 3]).dtype

In [ ]:
nba.dtypes

In [ ]:
nba.dtypes.value_counts()

In [ ]:
nba.index

In [ ]:
nba.columns

In [ ]:
nba.ndim

In [ ]:
nba.shape

In [ ]:
nba.size

In [ ]:
nba.count()

In [ ]:
nba.count().sum()

In [ ]:
data = {
    "A": [1, np.nan],
    "B": [2, 3]
}

df = pd.DataFrame(data)
df

In [ ]:
df.size

In [ ]:
df.count()

In [ ]:
df.count().sum()

### 4.2.3 Shared Methods between Series and DataFrames

In [ ]:
nba.head(2)

In [ ]:
nba.tail(n = 3)

In [ ]:
nba.tail()

In [ ]:
nba.sample(3)

In [ ]:
nba.nunique()

In [ ]:
nba.max()

In [ ]:
nba.min()

In [ ]:
nba.nlargest(n = 4, columns = "Salary")

In [ ]:
nba.nsmallest(n = 3, columns = ["Birthday"])

In [ ]:
nba.sum()

In [ ]:
nba.sum(numeric_only = True)

In [ ]:
nba.mean(numeric_only = True)

In [ ]:
nba.median(numeric_only = True)

In [ ]:
nba.mode(numeric_only = True)

In [ ]:
nba.std(numeric_only = True)

## 4.3 Sorting a DataFrame

### 4.3.1 Sorting by Single Column

In [ ]:
# The two lines below are equivalent
nba.sort_values("Name")
nba.sort_values(by = "Name")

In [ ]:
nba.sort_values("Name", ascending = False).head()

In [ ]:
nba.sort_values("Birthday", ascending = False).head()

### 4.3.2 Sorting by Multiple Columns

In [ ]:
nba.sort_values(by = ["Team", "Name"])

In [ ]:
nba.sort_values(["Team", "Name"], ascending = False)

In [ ]:
nba.sort_values(
    by = ["Team", "Salary"], ascending = [True, False]
)

In [ ]:
nba = nba.sort_values(
    by = ["Team", "Salary"],
    ascending = [True, False]
)

## 4.4 Sorting by Index

In [ ]:
nba.head()

### 4.4.1 Sorting by Row Index

In [ ]:
# The two lines below are equivalent
nba.sort_index().head()
nba.sort_index(ascending = True).head()

In [ ]:
nba.sort_index(ascending = False).head()

In [ ]:
nba = nba.sort_index()

### 4.4.2 Sorting by Column Index

In [ ]:
# The two lines below are equivalent
nba.sort_index(axis = "columns").head()
nba.sort_index(axis = 1).head()

In [ ]:
nba.sort_index(axis = "columns", ascending = False).head()

## 4.5 Setting a New Index

In [ ]:
# The two lines below are equivalent
nba.set_index(keys = "Name")
nba.set_index("Name")

In [ ]:
nba = nba.set_index(keys = "Name")

In [ ]:
nba = pd.read_csv(
    "nba.csv", parse_dates = ["Birthday"], index_col = "Name"
)

## 4.6 Selecting Columns and Rows from a DataFrame

### 4.6.1 Selecting a Single Column from a DataFrame

In [ ]:
nba.Salary

In [ ]:
nba["Position"]

### 4.6.2 Selecting Multiple Columns from a DataFrame

In [ ]:
nba[["Salary", "Birthday"]].head()

In [ ]:
nba[["Birthday", "Salary"]].head()

In [ ]:
nba.select_dtypes(include = "object")

In [ ]:
nba.select_dtypes(exclude = ["object", "int"])

## 4.7 Selecting Rows from a DataFrame

### 4.7.1 Extracting Rows by Index Label

In [ ]:
nba.loc["LeBron James"]

In [ ]:
nba.loc[["Kawhi Leonard", "Paul George"]]

In [ ]:
nba.loc[["Paul George", "Kawhi Leonard"]]

In [ ]:
nba.sort_index().loc["Otto Porter":"Patrick Beverley"]

In [ ]:
players = ["Otto Porter", "PJ Dozier", "PJ Washington"]
players[0:2]

In [ ]:
nba.sort_index().loc["Zach Collins":]

In [ ]:
nba.sort_index().loc[:"Al Horford"]

**NOTE**: I've commented out the code below so that the Notebook can run without raising an error.

In [ ]:
# nba.loc["Bugs Bunny"]

### 4.7.2 Extracting Rows by Index Position

In [ ]:
nba.iloc[300]

In [ ]:
nba.iloc[[100, 200, 300, 400]]

In [ ]:
nba.iloc[400:404]

In [ ]:
nba.iloc[:2]

In [ ]:
nba.iloc[447:]

In [ ]:
nba.iloc[-10:-6]

In [ ]:
nba.iloc[0:10:2]

### 4.7.3 Extracting Values from Specific Columns

In [ ]:
nba.loc["Giannis Antetokounmpo", "Team"]

In [ ]:
nba.loc["James Harden", ["Position", "Birthday"]]

In [ ]:
nba.loc[
    ["Russell Westbrook", "Anthony Davis"],
    ["Team", "Salary"]
]

In [ ]:
nba.loc["Joel Embiid", "Position":"Salary"]

In [ ]:
nba.loc["Joel Embiid", "Salary":"Position"]

In [ ]:
nba.iloc[57, 3]

In [ ]:
nba.iloc[100:104, :3]

In [ ]:
nba.at["Austin Rivers", "Birthday"]

In [ ]:
nba.iat[263, 1]

In [ ]:
%%timeit
nba.at["Austin Rivers", "Birthday"]

In [ ]:
%%timeit
nba.loc["Austin Rivers", "Birthday"]

In [ ]:
%%timeit
nba.iat[263, 1]

In [ ]:
%%timeit
nba.iloc[263, 1]

## 4.8 Extracting Values from Series

In [ ]:
nba["Salary"].loc["Damian Lillard"]

In [ ]:
nba["Salary"].at["Damian Lillard"]

In [ ]:
nba["Salary"].iloc[234]

In [ ]:
nba["Salary"].iat[234]

## 4.9 Renaming Columns or Rows

In [ ]:
nba.columns

In [ ]:
nba.columns = ["Team", "Position", "Date of Birth", "Pay"]
nba.head(1)

In [ ]:
nba.rename(columns = { "Date of Birth": "Birthday" })

In [ ]:
nba = nba.rename(columns = { "Date of Birth": "Birthday" })

In [ ]:
nba.loc["Giannis Antetokounmpo"]

In [ ]:
nba = nba.rename(
    index = { "Giannis Antetokounmpo": "Greek Freak" }    
)

In [ ]:
nba.loc["Greek Freak"]

## 4.10 Resetting an Index

In [ ]:
nba.set_index("Team").head()

In [ ]:
nba.reset_index().head()

In [ ]:
nba.reset_index().set_index("Team").head()

In [ ]:
nba = nba.reset_index().set_index("Team")

## 4.11 Coding Challenge

### 4.11.1 Problems

### 4.11.2 Solutions

In [ ]:
nfl = pd.read_csv("nfl.csv", parse_dates = ["Birthday"])
nfl

In [ ]:
nfl = nfl.set_index("Name")

In [ ]:
nfl = pd.read_csv("nfl.csv", index_col = "Name", parse_dates = ["Birthday"])

In [ ]:
nfl.head()

In [ ]:
# The two lines below are equivalent
nfl.Team.value_counts().head()
nfl["Team"].value_counts().head()

In [ ]:
nfl.sort_values("Salary", ascending = False).head()

In [ ]:
nfl.sort_values(
    by = ["Team", "Salary"],
    ascending = [True, False]
)

In [ ]:
nfl = nfl.reset_index().set_index(keys = "Team")
nfl.head(3)

In [ ]:
nfl.loc["New York Jets"].head()

In [ ]:
nfl.loc["New York Jets"].sort_values("Birthday").head(1)

## 4.12 Summary